# NOD2 
---

Analysis of NOD2 patients

## Setup

In [2]:
import os
import pandas as pd
import numpy as np
import get_data 
import get_patient
import get_PPI
import get_network_analysis
import cytoscape
from binarised import UC_bin_97_5, CD_bin_97_5, CD_bin_99, UC_bin_99, CD_bin_95, UC_bin_95
from get_data import genepy_df
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns

You are connected to Cytoscape!

## Create networks

In [28]:
CD_95_mg = get_network_analysis.create_multiple_graph('patient_networks/CD_95_network_3/')
UC_95_mg = get_network_analysis.create_multiple_graph('patient_networks/UC_95_network_3/')

CD_95_gl = get_network_analysis.create_graph_list_from_directory('patient_networks/CD_95_network_3/')
UC_95_gl = get_network_analysis.create_graph_list_from_directory('patient_networks/UC_95_network_3/')

## Import patient one lists

In [3]:
one_hit_file = "../Data/NOD2_OneHit.frq_cadd.lst"
two_hit_file = "../Data/NOD2_2neHit.frq_cadd.txt"

In [15]:
one_hit_df = pd.read_table(one_hit_file, header=None)
two_hit_df = pd.read_table(two_hit_file, index_col=0)

In [10]:
one_hit_df

            0
0      AP0030
1      AP0055
2      AP0142
3      AP0205
4      AP0258
..        ...
253  SOPR0549
254  SOPR0552
255  SORL0025
256  SORL0030
257  SORL0042

[258 rows x 1 columns]

In [16]:
two_hit_df

                     Hit
sample
AP0148    2Heterozygotes
PR0004    2Heterozygotes
PR0025    2Heterozygotes
PR0062    2Heterozygotes
PR0063    2Heterozygotes
...                  ...
PR0189        homozygote
SOAD0118      homozygote
SOAD0152      homozygote
SOAD0387      homozygote
SOPR0547      homozygote

[75 rows x 1 columns]

## get networks

In [22]:
def get_edges_with_name(graph, patient_name):
    '''
    Function to return graph with edges greater than the specified edge weight.
    '''
    edge_list = []
    for u, v, name in graph.edges.data("name"):
        if name != patient_name:
            edge_list.append((u,v,name))
        else:
            continue
    graph = graph.remove_edges_from(edge_list)
    return graph

In [25]:
get_edges_with_name(CD_95_mg,'PR0189').draw()

AttributeError: 'NoneType' object has no attribute 'draw'

In [36]:
get_network_analysis.get_patient_graph('PR0189', CD_95_gl).neighbors('NOD2')

NetworkXError: The node NOD2 is not in the graph.

In [47]:
NOD2_neighbors = [n for n in CD_95_mg.neighbors('NOD2')]

full_list = []
for i in NOD2_neighbors:
    NOD2_second_shell = [n for n in CD_95_mg.neighbors(i)]
    for i in NOD2_second_shell:
        full_list.append(i)

full_list

subgraph = CD_95_mg.subgraph(full_list)
cytoscape.create_multigraph_network_in_cytoscape(subgraph)

Applying default style...
Applying preferred layout

{'networkSUID': 7236}

In [48]:
get_network_analysis.get_patient_names_from_multigraph(subgraph)

,source,target,Patients,patients_names
0,FYN,NRG1,5,"[SOAD0470, PR0210, SOPR0280, SOAD0182, PR0094]"
1,PRKN,LRRK2,5,"[SOAD0599, SOAD0201, SOPR0296, SOPR0323, SOAD0..."
2,ERBB2,STUB1,5,"[SOPR0418, SOPR0247, SOPR0301, PR0196, SOAD0454]"
3,BTC,NRG1,4,"[SOAD0470, SOPR0245, PR0094, SOAD0252]"
4,IFIH1,IKBKE,4,"[PR0010, SOPR0255, AP0013, PR0019]"
...,...,...,...,...
492,TLR2,FPR1,1,[SOAD0345]
493,TLR2,CD163,1,[SOAD0235]
494,TLR2,TLR1,1,[SOPR0241]
495,TLR2,MBL2,1,[SOPR0241]
496,TLR4,FCGR2A,1,[SOAD0128]

In [50]:
cytoscape.view_networkx_in_cytoscape(CD_95_mg)

Applying default style...
Applying preferred layout

{'networkSUID': 255431}