# Network scripts - NetworkX and Cytoscape
---
Notebook for generating networks

## Network X
---


### Useful tutorials and workflows
- [github workflow](https://melaniewalsh.github.io/Intro-Cultural-Analytics/06-Network-Analysis/00-Network-Analysis.html)

- [NetworkX website tutorial](https://networkx.org/documentation/latest/tutorial.html)

In [3]:
import networkx as nx

import networkx as nx
G = nx.Graph()


#G = nx.from_pandas_edgelist()

patient_df

NameError: name 'patient_df' is not defined

## Cytoscape 
---
### Useful links and tutorials
- [Cytoscape Automation Home - lots of useful links - good place to start](https://github.com/cytoscape/cytoscape-automation/wiki)
- [Import network from table - simple](https://github.com/cytoscape/cytoscape-automation/blob/master/for-scripters/Python/importing-network-from-table.ipynb)
- [Good overview with examples - good for styles](https://github.com/cytoscape/cytoscape-automation/wiki)

### Setup

1. lauch cytoscape
2. Run following code to check cyctoscape has connected
3. Run patientdata.ipynb (`cmd`+`A` then `shift`+`enter`)

In [1]:
import os
import pandas as pd
import py4cytoscape as py4

dir(py4)
py4.cytoscape_ping()
py4.cytoscape_version_info()

You are connected to Cytoscape!

{'apiVersion': 'v1',
 'cytoscapeVersion': '3.9.1',
 'automationAPIVersion': '1.3.0',
 'py4cytoscapeVersion': '0.0.11'}

In [1]:
import get_data 
import get_patient
import get_PPI
import pandas as pd
from get_data import genepy_df
from get_data import genepy_normalized
from get_data import genepy_norm_loeuf

            A1BG      A1CF       A2M     A2ML1   A3GALT2    A4GALT     A4GNT  \
Samid
AP0013  0.097623  0.027245  0.107498  0.011378  0.041579  0.028535  0.055493
AP0030  0.134882  0.000000  0.018830  0.064448  0.000000  0.015138  0.022460
AP0045  0.107196  0.000000  0.025388  0.034014  0.000000  0.007506  0.030282
AP0046  0.179652  0.000000  0.025081  0.118953  0.014841  0.007415  0.029915
AP0055  0.091878  0.000000  0.038677  0.072722  0.008690  0.007527  0.080610

            AAAS  AACS     AADAC  ...  ZW10    ZWILCH     ZWINT  ZXDA  \
Samid                             ...
AP0013  0.000000   0.0  0.000000  ...   0.0  0.026087  0.010998   0.0
AP0030  0.018639   0.0  0.004263  ...   0.0  0.011772  0.007656   0.0
AP0045  0.000000   0.0  0.121555  ...   0.0  0.000000  0.010323   0.0
AP0046  0.024826   0.0  0.000000  ...   0.0  0.000000  0.010197   0.0
AP0055  0.025200   0.0  0.121888  ...   0.0  0.015916  0.010351   0.0

            ZXDC    ZYG11A    ZYG11B  ZYX     ZZEF1      ZZZ3
Samid
AP0013  0.008628  0.000000  0.044287  0.0  0.340699  0.000000
AP0030  0.009848  0.000000  0.030830  0.0  0.284207  0.000000
AP0045  0.008098  0.009520  0.000000  0.0  0.014009  0.233638
AP0046  0.008000  0.009405  0.048775  0.0  0.013839  0.000000
AP0055  0.008120  0.009546  0.000000  0.0  0.559744  0.234278

[5 rows x 16794 columns]

In [11]:
genepy_df['NOD2'].sort_values(ascending=False).head(10)

Samid
SOPR0401    7.473334
SORL0032    6.164264
SOPR0393    5.760331
SOPR0356    5.220091
PR0074      5.178640
PR0005      4.654984
SOAD0552    4.623111
PR0143      4.572688
SOAD0118    4.543349
PR0218      4.446201
Name: NOD2, dtype: float64

In [12]:
genepy_norm_loeuf['NOD2'].sort_values(ascending=False).head(10)

Samid
SOPR0401    0.220414
SORL0032    0.199303
SOPR0393    0.177667
SOPR0356    0.176299
PR0074      0.171113
PR0143      0.151979
PR0062      0.150976
SOPR0494    0.142983
SOAD0552    0.142591
SOAD0118    0.140131
Name: NOD2, dtype: float64

In [3]:
patient_df_PPI = get_PPI.get_PPI_df(genepy_norm_loeuf, 0)

,stringId_A,stringId_B,preferredName_A,preferredName_B,ncbiTaxonId,score,nscore,fscore,pscore,ascore,escore,dscore,tscore
0,9606.ENSP00000006724,9606.ENSP00000300060,CEACAM7,ANPEP,9606,0.433,0,0,0,0.049,0,0,0.429
2,9606.ENSP00000011619,9606.ENSP00000380150,RANBP9,CARD11,9606,0.405,0,0,0,0.068,0,0,0.388
4,9606.ENSP00000011619,9606.ENSP00000464893,RANBP9,UNK,9606,0.415,0,0,0,0.132,0.354,0,0
6,9606.ENSP00000011619,9606.ENSP00000320563,RANBP9,WDFY4,9606,0.416,0,0,0,0.417,0,0,0
8,9606.ENSP00000011619,9606.ENSP00000295888,RANBP9,WDFY3,9606,0.416,0,0,0,0.417,0,0,0

In [20]:
cols = patient_df_PPI.columns[5:]
patient_df_PPI[cols] = patient_df_PPI[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [21]:
patient_df_PPI.dtypes

stringId_A          string
stringId_B          string
preferredName_A     string
preferredName_B     string
ncbiTaxonId         string
score              float64
nscore             float64
fscore             float64
pscore             float64
ascore             float64
escore             float64
dscore             float64
tscore             float64
dtype: object

In [24]:
grt_7 = patient_df_PPI[patient_df_PPI['score']>0.7]
grt_7

,stringId_A,stringId_B,preferredName_A,preferredName_B,ncbiTaxonId,score,nscore,fscore,pscore,ascore,escore,dscore,tscore
18,9606.ENSP00000011619,9606.ENSP00000377061,RANBP9,PLXNA1,9606,0.719,0.0,0.00,0.000,0.000,0.000,0.0,0.718
20,9606.ENSP00000011619,9606.ENSP00000385571,RANBP9,HIPK2,9606,0.793,0.0,0.00,0.000,0.094,0.270,0.0,0.712
22,9606.ENSP00000011619,9606.ENSP00000446215,RANBP9,RAN,9606,0.862,0.0,0.00,0.000,0.000,0.509,0.0,0.730
24,9606.ENSP00000011619,9606.ENSP00000222390,RANBP9,HGF,9606,0.906,0.0,0.00,0.000,0.000,0.000,0.9,0.108
26,9606.ENSP00000011619,9606.ENSP00000317272,RANBP9,MET,9606,0.976,0.0,0.00,0.000,0.063,0.281,0.9,0.696
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33898,9606.ENSP00000473172,9606.ENSP00000480158,RUVBL2,POLR2A,9606,0.729,0.0,0.00,0.000,0.066,0.649,0.0,0.238
33900,9606.ENSP00000473172,9606.ENSP00000478396,RUVBL2,TTI2,9606,0.828,0.0,0.00,0.000,0.042,0.602,0.0,0.586
33902,9606.ENSP00000477455,9606.ENSP00000477999,GRIN2B,NOS1,9606,0.993,0.0,0.00,0.000,0.096,0.393,0.8,0.943
33904,9606.ENSP00000479504,9606.ENSP00000483495,DDX52,DDX27,9606,0.909,0.0,0.00,0.425,0.879,0.058,0.0,0.458
33906,9606.ENSP00000480090,9606.ENSP00000485105,PKD1L3,PKD1L2,9606,0.857,0.0,0.04,0.000,0.000,0.000,0.0,0.857

## Testing get_string_IDs

In [5]:
response = get_PPI.get_protein_interactions(genepy_norm_loeuf, 0)

In [ ]:
for line in response.text.strip().split("\n"):
        # seperates each line into list
        l = line.strip().split("\t")
        print(l)

In [7]:
string_ID_test = get_patient.get_string_IDs(genepy_norm_loeuf, 0)

In [8]:
len(string_ID_test)

199

### Add edges from df with edge score (Total StringDB score `score`)

In [55]:
edge_data = {'source': patient_df["preferredName_A"],
             'target': patient_df["preferredName_B"],
             'String_Score': patient_df["score"],
             'souce_Gen_score'
            }
edges = pd.DataFrame(data=edge_data, columns=['source', 'target', 'String_Score'])
edges.head()

   source    target String_Score
0   TRIP6     RIPK2         0.84
2  MAPK13  HSP90AA1        0.416
4  MAPK13      NOD2        0.684
6  MAPK13     RIPK2        0.745
8  MAPK13    MAPK11        0.907

### Create network in cytoscape

In [56]:
py4.create_network_from_data_frames(edges=edges, title='Patient_Network', collection="Patient_Collection")

Applying default style...
Applying preferred layout

{'networkSUID': 1129}

### create genepy score data 
py4.load_table_data(patient

In [100]:
patient_df = pd.merge(get_patient(0), patient_df, left_index=True, right_on='preferredName_A').dropna()
patient_df.rename(columns={'gen_score':'genScore_A'}, inplace=True)
patient_df = pd.merge(get_patient(0), patient_df, left_index=True, right_on='preferredName_B').dropna()
patient_df.rename(columns={'gen_score':'genScore_B'}, inplace=True)
patient_df.head()
# pd.merge(get_patient(0), patient_df.set_index('preferredName_B', drop=False), left_index=True, right_index=True).dropna().reset_index()

,genScore_B,gene,genScore_A,gene_x,genScore_A,gene_y,stringId_A,stringId_B,preferredName_A,preferredName_B,ncbiTaxonId,score,nscore,fscore,pscore,ascore,escore,dscore,tscore
158,0.0,BIRC2,0.0,CASP5,0.0,CASP5,9606.ENSP00000376849,9606.ENSP00000477613,CASP5,BIRC2,9606,0.42,0,0,0,0.065,0.193,0,0.294
148,0.0,BIRC2,0.0,CASP8,0.0,CASP8,9606.ENSP00000351273,9606.ENSP00000477613,CASP8,BIRC2,9606,0.997,0,0,0,0.062,0.861,0.9,0.797
152,0.0,BIRC2,0.1869,CHUK,0.1869,CHUK,9606.ENSP00000359424,9606.ENSP00000477613,CHUK,BIRC2,9606,0.943,0,0,0,0.097,0.179,0.6,0.832
122,0.0,BIRC2,0.029089,HSP90AA1,0.029089,HSP90AA1,9606.ENSP00000335153,9606.ENSP00000477613,HSP90AA1,BIRC2,9606,0.49,0,0,0,0.077,0,0,0.47
80,0.0,BIRC2,0.012691,NFKB1,0.012691,NFKB1,9606.ENSP00000226574,9606.ENSP00000477613,NFKB1,BIRC2,9606,0.594,0,0,0,0.062,0.061,0,0.576

In [59]:
genepy.iloc[0,2:]

BIRC2            0.0
BIRC3            0.0
CARD18           0.0
CARD6       0.379419
CARD8       4.869294
CARD9            0.0
CASP1            0.0
CASP5            0.0
CASP8            0.0
CCL11       0.221512
CCL13            0.0
CCL2             0.0
CCL7             0.0
CCL8             0.0
CHUK          0.1869
CXCL1       0.187926
CXCL2            0.0
CXCL8            0.0
ERBIN       0.266972
HSP90AA1    0.029089
HSP90AB1         0.0
HSP90B1          0.0
IKBKB            0.0
IL18             0.0
IL1B        0.368253
IL6              0.0
MAP3K7           0.0
MAPK1            0.0
MAPK10           0.0
MAPK11      0.064357
MAPK12      0.275451
MAPK13      0.092528
MAPK14           0.0
MAPK3            0.0
MAPK8            0.0
MAPK9            0.0
MEFV        0.211796
NFKB1       0.012691
NFKBIA      0.243537
NFKBIB           0.0
NLRC4       0.319284
NLRP1       1.234592
NLRP3       0.756633
NOD1             0.0
NOD2        1.578552
PSTPIP1          0.0
PYCARD           0.0
PYDC1       0.111283
RELA             0.0
RIPK2       0.392608
SUGT1            0.0
TAB1             0.0
TAB2             0.0
TAB3             0.0
TNFAIP3          0.0
TRAF6            0.0
TRIP6       0.174013
XIAP        0.294117
Name: 0, dtype: object